[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
attrs = "==19.3.0"
backcall = "==0.1.0"
bleach = "==3.1.0"
certifi = "==2019.9.11"
cffi = "==1.13.2"
cfgv = "==2.0.1"
chardet = "==3.0.4"
cryptography = "==2.8"
decorator = "==4.4.1"
defusedxml = "==0.6.0"
django-allauth = "*"
django-environ = "*"
django-extensions = "*"
django-oauth2-provider = "==0.2.6.1"
django-rest-auth = "*"
django-rest-knox = "==4.1.0"
django-templated-mail = "==1.1.1"
django-test-plus = "*"
django-url-checks = "*"
djangorestframework = "*"
djoser = "*"
entrypoints = "==0.3"
environ = "==1.0"
factory-boy = "*"
flake8 = "*"
flake8-bugbear = "*"
flake8-docstrings = "*"
flake8-polyfill = "==1.0.2"
identify = "==1.4.7"
idna = "==2.8"
importlib-metadata = "==0.23"
ipykernel = "==5.1.3"
ipython = "*"
ipywidgets = "==7.5.1"
jedi = "==0.15.1"
jsonschema = "==3.2.0"
jupyter = "*"
jupyter-client = "==5.3.4"
jupyter-core = "==4.6.1"
mccabe = "==0.6.1"
mistune = "==0.8.4"
more-itertools = "==7.2.0"
nbconvert = "==5.6.1"
nbformat = "==4.4.0"
nodeenv = "==1.3.3"
notebook = "==6.0.2"
oauthlib = "==3.1.0"
pandocfilters = "==1.4.2"
parso = "==0.5.1"
pep8-naming = "*"
pexpect = "==4.7.0"
pickleshare = "==0.7.5"
pre-commit = "*"
prompt-toolkit = "==2.0.10"
psycopg2-binary = "*"
ptyprocess = "==0.6.0"
pycodestyle = "==2.5.0"
pycparser = "==2.19"
pydocstyle = "==4.0.1"
pyflakes = "==2.1.1"
pyrsistent = "==0.15.5"
python-dateutil = "==2.8.1"
python3-openid = "==3.1.0"
pytz = "*"
pyzmq = "==18.1.1"
qtconsole = "==4.6.0"
requests = "==2.22.0"
requests-oauthlib = "==1.3.0"
shortuuid = "==0.5.0"
six = "==1.13.0"
snowballstemmer = "==2.0.0"
sqlparse = "==0.3.0"
terminado = "==0.8.3"
testpath = "==0.4.4"
text-unidecode = "==1.3"
toml = "==0.10.0"
tornado = "==6.0.3"
traitlets = "==4.3.3"
uritemplate = "*"
urllib3 = "==1.25.7"
virtualenv = "==16.7.8"
wcwidth = "==0.1.7"
webencodings = "==0.5.1"
whitenoise = "*"
widgetsnbextension = "==3.5.1"
zipp = "==0.6.0"
"aspy.yaml" = "==1.3.0"
Django = "*"
Faker = "*"
ipython_genutils = "==0.2.0"
Jinja2 = "==2.10.3"
jupyter-console = "==6.0.0"
MarkupSafe = "==1.1.1"
prometheus_client = "==0.7.1"
Pygments = "==2.4.2"
PyYAML = "==5.1.2"
Send2Trash = "==1.5.0"
django-cors-headers = "*"
djangorestframework-jwt = "*"
djangorestframework-simplejwt = "*"
pyyaml = "*"
django-cors-middleware = "*"

[requires]
python_version = "3.8"

[packages.django-storages]
extras = [ "google",]
