aspy.yaml
attrs
backcall
bleach
certifi
cffi
cfgv
chardet
cryptography
decorator
defusedxml
Django
django-allauth
django-environ
django-extensions
django-oauth2-provider
django-rest-auth
django-rest-knox
django-templated-mail
django-test-plus
django-url-checks
djangorestframework
djoser
entrypoints
environ
factory-boy
Faker
flake8
flake8-bugbear
flake8-docstrings
flake8-polyfill
identify
idna
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
MarkupSafe
mccabe
mistune
more-itertools
nbconvert
nbformat
nodeenv
notebook
oauthlib
pandocfilters
parso
pep8-naming
pexpect
pickleshare
pkg-resources
pre-commit
prometheus-client
prompt-toolkit
psycopg2-binary
ptyprocess
pycodestyle
pycparser
pydocstyle
pyflakes
Pygments
pyrsistent
python-dateutil
python3-openid
pytz
PyYAML
pyzmq
qtconsole
requests
requests-oauthlib
Send2Trash
shortuuid
six
snowballstemmer
sqlparse
terminado
testpath
text-unidecode
toml
tornado
traitlets
uritemplate
urllib3
virtualenv
wcwidth
webencodings
whitenoise
widgetsnbextension
zipp
