{% extends parent_template|default:"base.html" %}

{% block content %}
<h1>Geneesplaats.nl</h1>
  <p>
 Kernpunt van deze website wordt het omkeren van de zoekrichting onder het motto:
  </p>
 
  <p>
   "Geneesplaats.nl, waar de zoekende gevonden wordt!" 
  </p>
   
  <p>
  In het kort komt dat hier op neer:<br /> 
  <br />
  in plaats van dat potentiële patiënten bijvoorbeeld via internetinformatie een therapeut vinden,<br /> 
  worden ze op Geneesplaats.nl gevonden door therapeuten.<br /> 
  </p>
{% endblock %}
