<h1>Activation complete</h1>
<!-- {% extends "core/base_without_login.html"  %} -->
<!-- {% load i18n %} -->
<!-- {% block title%}Sign up{% endblock%} -->

<!-- {% block content %} -->
<!--     <section class="d-flex align-items-start align-content-center" id="login"> -->
<!--         <div class="container mt-5"> -->
<!--             <h1>Your registration was completed.</h1> -->
<!--             <p>Welcome to CollabMap!</p> -->

<!--             <p>Click on login to enter CollabMap.</p> -->
<!--             <p>Please complete your profile before start a new consultation</p> -->

<!--             <a class="btn btn-link" href="{% url 'index' %}">Home</a> -->
<!--             <a class="btn btn-link" href="{% url 'login' %}">Login</a> -->
<!--         </div> -->
<!--     </section> -->
<!-- {% endblock %} -->
