{% extends "core/base_without_login.html"  %}
{% load i18n %}
{% block title%}Sign up{% endblock%}

{% block content %}
    <section class="d-flex align-items-start align-content-center" id="login">
        <div class="container mt-5">
            <form action="" method="post">{% csrf_token %}
                {{ form.non_field_errors }}
                {{ form.source.errors }}
                {{ form.source }}

                <div class="form-row mb-3">
                    <div class="col-8">
                        <div>
                            {{ form.username.label }}
                            {{ form.username }}
                        </div>
                        <div>
                            {{ form.username.errors }}
                            {{ form.username.help_text }}
                        </div>
                    </div>
                </div>
                <div class="form-row mb-3">
                    <div class="col-8">
                        <div>
                            {{ form.email.label }}
                            {{ form.email }}
                        </div>
                        <div>
                            {{ form.email.errors }}
                            {{ form.email.help_text }}
                        </div>
                    </div>
                </div>
                <div class="form-row mb-3">
                    <div class="col-6">
                        <div>
                            {{ form.password1.label }}
                            {{ form.password1 }}
                        </div>
                        <div>
                            {{ form.password1.errors }}
                            {{ form.password1.help_text }}
                        </div>
                    </div>
                </div>
                <div class="form-row mb-3">
                    <div class="col-6">
                        <div>
                            {{ form.password2.label }}
                            {{ form.password2 }}
                        </div>
                        <div>
                            {{ form.password2.errors }}
                            {{ form.password2.help_text }}
                        </div>
                    </div>
                </div>
                <div class="form-group text-center" style="margin-top: 10px;">
                    <button class="btn btn-primary" type="submit">{% blocktrans %}Create account{% endblocktrans %}</button>
                    <a class="btn btn-light" href="{% url 'index' %}">{% blocktrans %}Home{% endblocktrans %}</a>
                </div>
            </form>
        </div>
    </section>
{% endblock %}